.input{
	width: 500px;
	height: 550px;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.2)50%, rgba(0, 0, 0, 0.2)50%);
	position: absolute;
	color: white;
	top: 10px;
	left: 20px;
	border-radius: 10px;
	padding: 20px;
}
.input h1{
	text-align: center;
}
.input .ipt{
	width: 300px;
	height: 40px;
	background: transparent;
	border-bottom: 1px solid #748DA6;
	border-top: none;
	border-right: none;
	border-left: none;
	color: black;
	font-size: 13px;
	letter-spacing: 1px;
	font-family: sans-serif;
	margin-left: 20px;
}
.input .gdr{
	margin-left: 20px;
	font-family: sans-serif;
	font-size: 13px;
	color: black;
}
.input button{
	width: 80px;
	height: 30px;
	background: #748DA6;
	border: none;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 20px;
	font-size: 14px;
	border-radius: 10px;
}
button:hover{
	background: white;
}
.output{
	margin-left: 700px;
	letter-spacing: 1px;
	margin-top: 20px;
}
.output h1{
	text-align: center;
}