*{
	margin: 0;
	padding: 0;
}

.web{
	width: 100%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(bg.jpg);
	background-position: center;
	background-size: cover;
	height: 200vh;
}
.head{
	width: 100%;
	background-color: #748DA6;
	background-position: center;
	height: 15vh;
	border-radius: 15px;
}
.judul{
	font-size: 40px;
	text-align: center;
	padding-top: 0.2em;
	color: white;
}
h3{
	font-size: 20px;
	color: white;
	text-align: center;
}

.nav{
	width: 1200px;
	height: 75px;
	margin: auto;
}
.navbar{
	width: 400px;
	height: 70px;
	float: left;
	background: transparent;
}

ul{
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

ul li{
	list-style: none;
	margin-left: 30px;
	margin-top: 20px;
	font-size: 18px;
}

ul li a{
	text-decoration: none;
	color: black;
	font-family: Arial;
	font-weight: bold;
}

ul li a:hover{
	color: white;
}

.search{
	width: 330px;
	float: left;
	margin-left: 450px;
}

.srch{
	font-family: 'Times New Roman';
	width: 200px;
	height: 40px;
	background: transparent;
	border: 1px solid #748DA6;
	margin-top: 10px;
	color: white;
	border-right: none;
	font-size: 16px;
	float: left;
	padding: 10px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.btn{
	width: 100px;
	height: 40px;
	background: #748DA6;
	border: 2px solid #748DA6;
	margin-top: 10px;
	color: white;
	font-size: 15px;
	border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.btn:focus{
	outline: none;
}

.srch:focus{
	outline: none;
}

.content{
	width: 1200px;
	height: auto;
	margin: auto;
	color: white;
	position: relative;
}

.content .par{
	padding-left: 20px;
	padding-bottom: 25px;
	line-height: 30px;
	letter-spacing: 1.2px;
}

.content h1{
	font-family: 'Times New Roman';
	font-size: 50px;
	padding-left: 20px;
	margin-top: 5%;
	letter-spacing: 2px;
}

.content span{
	color: #748DA6;
	font-size: 60px;
}

.profile{
	width: 1200px;
	height: auto;
	margin: auto;
	color: white;
	position: relative;
	display: flex;
	align-items: left;
}
.profile .foto img{
	width: 150px;
	padding-left: 20px;
	padding-top: 100px;
}

.profile .about-text{
	width: 500px;
}

.profile .about-text h2{
	font-size: 30px;
	text-transform: capitalize;
	margin-bottom: 15px;
	margin-top: 4.5em;
	margin-left: 1em;
}
.profile .about-text h3{
	font-size: 16px;
	float: left;
	margin-left: 2em;
}

hr{
	width: 550px;
	margin-left: 2em;
	margin-top: 10px;
	color: white;
}

.iden p{
	font-size: 20px;
	color: white;
	letter-spacing: 2px;
	line-height: 30px;
	margin-left: 2em;
}

.iden a{
	text-decoration: none;
	color: #748DA6;
}

.form{
	width: 250px;
	height: 310px;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);
	position: absolute;
	color: white;
	top: 180px;
	left: 860px;
	border-radius: 10px;
	padding: 20px;
}

.form h2{
	width: 220px;
	text-align: center;
	font-family: sans-serif;
	color: #748DA6;
	font-size: 22px;
	background-color: white;
	border-radius: 10px;
	margin: 2px;
	padding: 8px;
}

.form input{
	width: 240px;
	height: 35px;
	background: transparent;
	border-bottom: 1px solid #748DA6;
	border-top: none;
	border-right: none;
	border-left: none;
	color: white;
	font-size: 15px;
	letter-spacing: 1px;
	margin-top: 20px;
	font-family: sans-serif;
}

.form input:focus{
	outline: none;
}

::placeholder{
	color: white;
	font-family: Arial;
}

.btnn{
	width: 240px;
	height: 40px;
	background: #748DA6;
	border: none;
	border-radius: 10px;
	margin-top: 30px;
	font-size: 18px;
	cursor: pointer;
	color: white;
}

.btnn:hover{
	background: white;
	color: #748DA6;
}

.btnn a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.form .link{
	font-size: 17px;
	padding-top: 20px;
	text-align: center;
}

.form .link a{
	text-decoration: none;
	color: #748DA6;
}

.comment {
	width: 360px;
	height: 430px;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.3)50%, rgba(0, 0, 0, 0.3)50%);
	position: absolute;
	color: white;
	top: 700px;
	left: 790px;
	border-radius: 10px;
	padding: 20px;
}

.comment h2{
	width: 250px;
	text-align: center;
	font-family: sans-serif;
	color: #748DA6;
	font-size: 22px;
	background-color: white;
	border-radius: 10px;
	margin: 2px;
	margin-left: 40px;
	padding: 8px;
}

.comment .cmt{
	width: 240px;
	height: 35px;
	background: transparent;
	border-bottom: 1px solid #748DA6;
	border-top: none;
	border-right: none;
	border-left: none;
	color: white;
	font-size: 15px;
	letter-spacing: 1px;
	margin-top: 20px;
	margin-left: 10px;
	font-family: sans-serif;
}

.comment .gdr{
	margin-left: 10px;
}
.comment button{
	width: 80px;
	height: 30px;
	background: #748DA6;
	border: none;
	margin-bottom: 10px;
	margin-top: 20px;
	margin-left: 20px;
	font-size: 14px;
	border-radius: 10px;
}
footer{
	width: 100%;
	height: 40px;
	float: left;
	background: #748DA6;
	margin-top: 130px;
	border-radius: 15px;
}

.Copyright{
	text-align: center;
	padding: 10px;
	color: white;
}
